<footer>
    <div  class="made-by">
        <p>Page designed by <strong>Limber Remote Chameleon Inc.</strong><img src="https://webpages.uncc.edu/lcaesar/itis3135/brand/images/copyright-symbol.png" alt="Copyright" width="10" height="10"></p>
    </div>
    <br />
    <br />
    <a href="https://validator.w3.org/check?uri=referer"><img src="W3chtml.png" width="88" height="31" alt="Link to CSS validator"></a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer"><img src="W3ccss.png" width="88" height="31" alt="Link to CSS validator"></a>
</footer>