<header>
    <nav class="nav">
        <ul>
            <li><a href="https://leecasear.github.io/itis3135/ProjectAssignment/index.html">HOME</a></li>
            <li><a href="https://leecasear.github.io/itis3135/ProjectAssignment/contact.html">CONTACT</a></li>
            <li><a href="https://leecasear.github.io/itis3135/ProjectAssignment/feedback.html">FEEDBACK</a></li>
            <li><a href="https://leecasear.github.io/itis3135/ProjectAssignment/aboutme.html">ABOUTME</a></li>
            <li><a href="https://leecasear.github.io/itis3135/ProjectAssignment/book.html">BOOKLESSONS</a></li>
        </ul>
    </nav>
</header>