<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="this is Activity 4" charset="utf-8"/>
		<title>Header and footer page</title>
		<link rel="stylesheet" href="styles\styles2.css" />
        <link rel="stylesheet" href="jquery-3.6.0.min.js"/>
    </head>
    <body>
        <header>
            <nav class="nav">
                <ul>
                    <li><a href="https://leecaesar.github.io/itis3135/itis3135/index.html">Home</a></li>
                    ||
                    <li><a href="https://leecaesar.github.io/itis3135/introduction.html">Introduction</a></li>
                    ||
                    <li><a href="https://www.freecodecamp.org/fcc6e967e71-4315-464c-abcf-b6447a371fde">FreeCodeCamp Profile</a></li>
                    ||
                    <li><a href="https://leecaesar.github.io/itis3135/brand-adjective-animal.html">Brand Page</a></li>
                    ||
                    <li><a href="https://leecaesar.github.io/itis3135/website_evaluations.html">Website Evaluations</a></li>
                    ||
                    <li><a href="https://leecaesar.github.io/itis3135/first-scripts.html">Web based interaction</a></li>
                    ||
                    <li><a href="https://leecaesar.github.io/itis3135/calculator_fcc.html">Calculator</a></li>
                    ||
                    <li><a href="https://leecaesar.github.io/itis3135/arrays.html"></a>Arrays</li>
                    ||
                    <li><a href="https://leecasear.github.io/itis3135/slideshow.html"></a>SlideShow</li>
                </ul>
            </nav>
        </header>
    </body>
    <footer class="made-by">
        <p>Page designed by <strong>Limber Remote Chameleon Inc.</strong></p>
        <img src="C:\Users\leec3\Documents\itis3135_work\leeCaesar.github.io\itis3135\images\copyright-symbolCUsersleec3Documentsitis3135_workleeCaesar.github.ioitis3135imagescopyright-symbol.png.png" alt="Copyright" width="10" height="10">
        <br />
        <a href="https://validator.w3.org/check?uri=referer"><img src="C:\Users\leec3\Downloads\W3chtml.png" width="88" height="31" alt="Link to CSS validator"></a>
		<a href="https://jigsaw.w3.org/css-validator/check/referer"><img src="C:\Users\leec3\Downloads\W3ccss.png" width="88" height="31" alt="Link to CSS validator"></a>
    </footer>

</html>