<header>
    <a href="https://leecaesar.github.io/itis3135/itis3135/index.html">Home</a>
                    ||
    <a href="https://leecaesar.github.io/itis3135/introduction.html">Introduction</a>
                    ||
    <a href="https://www.freecodecamp.org/fcc6e967e71-4315-464c-abcf-b6447a371fde">FreeCodeCamp Profile</a>
                    ||
    <a href="https://leecaesar.github.io/itis3135/brand-adjective-animal.html">Brand Page</a>
                    ||
    <a href="https://leecaesar.github.io/itis3135/website_evaluations.html">Website Evaluations</a>
                    ||
    <a href="https://leecaesar.github.io/itis3135/first-scripts.html">Web based interaction</a>
                    ||
    <a href="https://leecaesar.github.io/itis3135/calculator_fcc.html">Calculator</a>
                    ||
    <a href="https://leecaesar.github.io/itis3135/arrays.html">Arrays</a>
                    ||
    <a href="https://leecasear.github.io/itis3135/slideshow.html">SlideShow</a>
    <br />
    <img class="header-image" src="https://webpages.uncc.edu/lcaesar/itis3135/brand/images/Chameleon.png" alt="rainbow chameleon" width="56.25" height="56.25">
	<h1 class="company-name-header">Limber Remote Chameleon Inc.</h1>
</header>