/* F6F6F6 D4D4CE 287094 023246 */
html {
    padding-bottom: 5px;
    margin: 5%;
    font-family: Tahoma;
    background-color: #f6f6f6;
    color: black;
}
.body {
	background-color:  #D4D4CE;
	
}
.main-header {
    text-align: center;
    background: linear-gradient(45deg, #287094, #023246);
    background-size: cover;
    padding-bottom: 40px;
    padding-top: 80px;
}
.nav ul {
	margin: 0px;
}
.nav li {
	display: inline;
	padding: 0 5%;
}
.nav a {
	display: inline-block;
	padding: .6em;
	color: white;
	text-decoration: none;
}
.nav {
	text-align: center;
	font-size: 1.1em;
	font-weight: lighter;
	border-bottom: 1px solid rgba(255,255,255, .3);
}
.nav a:hover {
	background-color: rgba(255,255,255, .3);
}
.contact-div {
	display: inline;
}
.created-by {
	display: inline;
	font-family: Kanit;
	font-size: .5em;
	background: linear-gradient(45deg, #287094, #023246);

}