/* F6F6F6 D4D4CE 287094 023246 */
html {
    padding-bottom: 5px;
    margin: 5%;
    font-family: Tahoma;
    background-color: #f6f6f6;
    color: black;
}
body {
	background:  #d4d4cebd;
	
}
.main-header {
    text-align: center;
  /*background: linear-gradient(45deg, #287094, #023246);  */
    background-size: cover;
    padding-bottom: 40px;
    padding-top: 80px;
}
.nav ul {
	margin: 0px;
}
.nav li {
	display: inline;
	padding: 0 5%;
}
.nav a {
	display: inline-block;
	padding: .6em;
	color: linear-gradient(45deg, #287094, #023246);;
	text-decoration: none;
}
.nav {
	text-align: center;
	font-size: 1.1em;
	font-weight: lighter;
	border-bottom: 1px solid rgba(255,255,255, .3);
}
.nav a:hover {
	background-color: #287094;
}
.contact-div {
	display: inline;
}
.aboutme-links{
	text-align: center;
	display: inline;
}
.aboutme-links a{
	padding: .6em;
	color: linear-gradient(45deg, #287094, #023246);;
	text-decoration: none;
}
.aboutme-links a:hover {
	background-color: #287094;
}
.book-header {
	font-size: 1.5em;
	font-style: italic;
	margin-right: 360px;
}
.book-header2 {
	font-size: 2.2em;
	font-weight: bolder;
	margin-right: 200px;
}
label {
	display: inline-block;
	width: 5em;
}
#datepicker:hover {
	cursor: pointer;
}
.main-book {
	text-align: left;
	margin-right: 10px;
}
.ui-tooltip {
    width: 200px;
	border: black;
}
label {
    display: inline-block; 
	width: 5em;
}
fieldset div {
   margin-bottom: 2em;
}
fieldset .help {
	display: inline-block;
}
.dropbtn {
	background-color: linear-gradient(45deg, #287094, #023246);
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
.dropdown {
	position: relative;
	display: inline-block;
}
  
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
  
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
	display: block;
}
.made-by {
	display: inline;
	font-family: Kanit;
	font-size: .5em;
	/*background: linear-gradient(45deg, #287094, #023246);*/

}